$hover_color: #F0D860;

body {
  height: 100vh;
}

.page_container {
  height: 80vh;
}

.header-link {
  color: black;
}

.header-link:hover {
  color: $hover_color;
}

a:hover {
   color: $hover_color !important;
}
